html {
	font-size: 16px;
}

body {
	background-color: #F5F0E5;

}

.div-block-1 {
	color: #0e2d22;
	font-family: "Comic Sans MS", sans-serif;
	font-weight: bold;
	font-size: 3rem;
}

a {
  color: inherit;
}

.link-1 {
	display: inline-block;
	background-image: #524c56;
	text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.link-1:hover {
	color: #F5F0E5
	text-shadow: 0 -1px 1px #00000, 1px 1px 1px #00000, 0 1px 1px #00000, 1px 1px 1px #00000, 1px 0 1px #00000, 0 -1px 1px #00000;
}
