* { 
    box-sizing: border-box;
}


.demo-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.demo-player-container * {
    user-select: none;
}

.demo-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    height: 255px;
    background-color: #2C2B2B;
    border-left: 1px solid #020024;
    border-top: 1px solid #020024;
    border-right: 3px solid #020024;
    border-bottom: 4px solid #020024;
    border-radius: 5px;
}

.demo-player-label {
    display: flex; 
    padding: 10px 15px;
    width: auto;
    height: 130px;
    margin: 30px;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.85rem;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,27,192,1) 100%);
    border: 1px solid #020024;
    border-radius: 5px;
}

.demo-player-label > div:last-child {
    width: 100%;
    margin-right: 60px; 
}

.demo-player-side-display {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 1.5px 3px 0px hsl(243, 100%, 7%);;
}

.demo-player-label-title {
    line-height: 40px;
    border-radius: 1px;
}

.demo-player-play-box {
    display: flex;
    align-items: center;
    height: 50%;
    background-color: #0c0b13;
    border-radius: 1px;
}

.tape-wheel {
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 55px;
    cursor: pointer;
}

.tape-wheel > * {
    position: absolute;
}

.eap-playing .tape-wheel-icon {
    animation: 3s linear 0s infinite spin;
}

.eap-playing .play-icon {
    content: url('../assets/PauseIcon.svg');
    margin-left: 0px;
}

.eap-paused .play-icon {
    content: url('../assets/PlayIcon.svg');
    margin-left: 5px;
}

.duration {
    flex-grow: 1;
    background-color: #fd40c8;
}

.demo-player-duration-bar {
    display: flex;
    align-items: center;
    position: relative;
    height: 9px;
    width: 60%;
    margin-left: 20%; 
    background-color: #fd40c8;
}

.duration-indicator-icon {
    position: absolute;
    left: 0;
    margin-left: -16px;
    cursor: pointer;
}

.demo-player-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 7px;
}

.demo-player-volume-box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 300px; 
    height: 50px;
    border-left: 3px solid #020024;
    border-right: 2px solid #b4298d;
    border-top: 4px solid #020024;
    border-radius: 5px;
}

.demo-player-volume-box .speaker-icon {
    margin-right: 10px;
}

.demo-player-volume-bar {
    position: relative;
    display:  flex;
    flex-grow: 1;
    height: 10px;
    background-color: #000000;
}

.demo-player-volume-level {
    height: 100%;
    background-color: #fff;
}

.demo-player-volume-indicator {
    width: 5px;
    height: 16px;
    margin-top: -3px;
    margin-left: -2.5px;
    background-color: #fff;
    cursor: pointer;
}

.circle-button {
    width: 55px;
    height: 55px;
    border: 8px solid #000;
    border-radius: 50%;
    box-shadow: 1.5px 3px 0px hsl(243, 100%, 7%);
    cursor: pointer;
}

.demo-player-bottom .circle-button {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-player-bottom .circle-button:active {
    box-shadow: none;
    margin-left: 1.5px;
    margin-right: -1.5px;
    margin-bottom: 5px;
}

.demo-player-bottom .circle-button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
}

.demo-player-bottom .flipside-icon {
    z-index: 1;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}