* { 
    box-sizing: border-box;
}


.demo-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.demo-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    height: 255px;
    background-color: #C678C3;
}

.demo-player-label {
    display: flex; 
    padding: 10px 15px;
    width: auto;
    height: 130px;
    margin: 30px;
    background-color: #fff;
}

.demo-player-label > div:last-child {
    width: 100%;
    margin-right: 60px; 
}

.demo-player-side-display {
    background-color: #d9d9d9;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 1.5px 3px 0px hsl(252, 33%, 38%/*, .2*/);   
}

.demo-player-label-title {
    line-height: 40px;
}

.demo-player-play-box {
    display: flex;
    align-items: center;
    height: 50%;
    background-color: #d9d9d9
}

.tape-wheel {
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 55px; 
}

.tape-wheel > * {
    position: absolute;
}

.play-icon {
    margin-left: 5px;
}

.duration {
    flex-grow: 1; 
}

.demo-player-duration-bar {
    display: flex;
    align-items: center;
    position: relative;
    height: 9px;
    width: 100%; 
    background-color: #C678C3;
}

.duration-indicator-icon {
    position: absolute;
    left: 25%;
}

.demo-player-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 7px;
}

.demo-player-volume-box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 300px; 
    height: 50px;
    border: 1px solid #333;
}

.demo-player-volume-box .speaker-icon {
    margin-right: 10px;
}

.demo-player-volume-bar {
    position: relative;
    flex-grow: 1;
    height: 10px;
    background-color: #878787;
}

.demo-player-volume-level {
    height: 100%;
    width: 25%;
    background-color: #d9d9d9;
}

.demo-player-volume-indicator {
    position: absolute;
    top: -3px;
    left: 25%;
    width: 5px;
    height: 16px;
    background-color: #d9d9d9;
}

.circle-button {
    width: 55px;
    height: 55px;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 1.5px 3px 0px hsl(252, 33%, 38%/*, .2*/);
}

.demo-player-bottom .circle-button {
    position: relative;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-player-bottom .circle-button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
}

.demo-player-bottom .flipside-icon {
    z-index: 1;
}